.page {
  --color-white: hsl(0, 0%, 100%);
  --color-green: hsl(110, 64.6%, 31%);
  --color-green-bright: hsl(110, 64.6%, 45%);
  --color-navy: hsl(192, 35%, 15.3%);
  --color-navy-bright: hsl(192, 35%, 25%);
  --color-crimson: hsl(0, 85%, 35%);
  --color-crimson-bright: hsl(0, 85%, 50%);
  --font-family: Verdana;

  align-items: center;
  background-image: linear-gradient(
    45deg,
    hsl(230deg 61% 21%) 0%,
    hsl(213deg 100% 24%) 11%,
    hsl(208deg 100% 30%) 22%,
    hsl(204deg 100% 35%) 33%,
    hsl(199deg 100% 38%) 44%,
    hsl(191deg 100% 39%) 56%,
    hsl(180deg 100% 37%) 67%,
    hsl(167deg 100% 41%) 78%,
    hsl(155deg 100% 46%) 89%,
    hsl(143deg 100% 50%) 100%
  );
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  justify-content: center;
  height: 100vh;

  .header {
    margin-bottom: 1rem;
  }

  .label {
    text-align: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dock {
    min-height: 6rem;
  }

  .caption {
    font-size: 1.5rem;
  }

  .group {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .button {
    border: 0;
    border-radius: 0.5rem;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    text-align: center;
    text-decoration: none;
  }

  .input {
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .new {
    background-color: var(--color-green);

    &:hover {
      background-color: var(--color-green-bright);
    }
  }

  .save {
    background-color: var(--color-navy);

    &:hover {
      background-color: var(--color-navy-bright);
    }
  }

  .cancel {
    background-color: var(--color-crimson);

    &:hover {
      background-color: var(--color-crimson-bright);
    }
  }
}
